@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* 1 */
body {
    background-color: #B4B4B4;
    background-image: url(../img/pink-flowers.webp);
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 400;
}

/* 10 */
.wrapper {
    width: 89%;
    margin: 0 auto;
    background-color: #fff;
}

/* 30 */
.header,
.main,
.footer {
    padding: 0 50px;
}

/* 10 */
.header__heading {
    padding-top: 96px;
    margin-bottom: 46px;
}

/* 10 */
.header__img-wrap {
    padding: 14px 13px;
    border-radius: 2px;
    border: 1px solid #000;
    margin-bottom: 57px;

}

/* 11 */
.header__img-wrap img {
    width: 100%;
}

/* 10 */
.section__section--flx {
    display: flex;
}

/* 30 */
.header__heading,
.article__heading,
.article__text--mod {
    color: #A11414;
}

/* 20 */
.header__heading, 
.header__heading--spec {
    font-size: 32px;
}

/* 10 */
.header__heading--spec {
    font-weight: 700;
    text-transform: uppercase;
}

/* 10 */
.nav-wrap {
    margin: 59px 52px 0 3px;
    width: 21%;
    border-radius: 2px 15px;
    background: #D7D7D7;
    padding: 29px 26px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 10 */
.nav-heading {
    padding: 26px 0px 24px 29px;
    font-weight: 700;
    
}

/* 10 */
.nav__link {
    padding: 26px 0px 24px 29px;
    text-decoration: none;
    color: #000;
}

/* 20 */
.nav__link:hover {
    font-weight: 700;
    color: #A11414;
    text-decoration: underline;
}

/* 10 */

.article {
    margin-top: 31px;
}

/* 10 */
.article__heading {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

/* 10 */
.article__text--add {
    text-decoration: line-through;
}

/* 10 */
.footer {
    margin-left: 50px;
    margin-top: 35px;
    padding-left: 388px;
    padding-bottom: 24px;
    background-image: url(../img/backimg.gif);
    background-repeat: no-repeat;
}

/* 10 */
.footer__item--spec {
    font-weight: 700;
}
